USE [DB_BANCO]
GO
/****** Object:  StoredProcedure [dbo].[PARCELAS_ATRASADAS_MAIORES_QUE_5_DIAS]    Script Date: 09/07/2019 08:51:13 ******/
DROP PROCEDURE [dbo].[PARCELAS_ATRASADAS_MAIORES_QUE_5_DIAS]
GO
/****** Object:  StoredProcedure [dbo].[PARCELAS_ATRASADAS_MAIORES_QUE_10_DIAS]    Script Date: 09/07/2019 08:51:13 ******/
DROP PROCEDURE [dbo].[PARCELAS_ATRASADAS_MAIORES_QUE_10_DIAS]
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_CLIENTES]    Script Date: 09/07/2019 08:51:13 ******/
DROP PROCEDURE [dbo].[LISTAR_CLIENTES]
GO
/****** Object:  StoredProcedure [dbo].[CLIENTES_PAGARAM_MAIS_QUE_METADE]    Script Date: 09/07/2019 08:51:13 ******/
DROP PROCEDURE [dbo].[CLIENTES_PAGARAM_MAIS_QUE_METADE]
GO
/****** Object:  Table [dbo].[TIPO_FINANCIAMENTO]    Script Date: 09/07/2019 08:51:13 ******/
DROP TABLE [dbo].[TIPO_FINANCIAMENTO]
GO
/****** Object:  Table [dbo].[HISTORICO_PAGAMENTO]    Script Date: 09/07/2019 08:51:13 ******/
DROP TABLE [dbo].[HISTORICO_PAGAMENTO]
GO
/****** Object:  Table [dbo].[FINANCIAMENTO]    Script Date: 09/07/2019 08:51:13 ******/
DROP TABLE [dbo].[FINANCIAMENTO]
GO
/****** Object:  Table [dbo].[ESTADO]    Script Date: 09/07/2019 08:51:13 ******/
DROP TABLE [dbo].[ESTADO]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 09/07/2019 08:51:13 ******/
DROP TABLE [dbo].[CLIENTE]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 09/07/2019 08:51:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[ID_CLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](255) NOT NULL,
	[ID_ESTADO] [int] NULL,
	[CELULAR] [varchar](11) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ESTADO]    Script Date: 09/07/2019 08:51:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ESTADO](
	[ID_ESTADO] [int] IDENTITY(1,1) NOT NULL,
	[SIGLA] [varchar](2) NULL,
	[ESTADO] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ESTADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FINANCIAMENTO]    Script Date: 09/07/2019 08:51:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FINANCIAMENTO](
	[ID_FINANCIAMENTO] [int] IDENTITY(1,1) NOT NULL,
	[ID_CLIENTE] [int] NULL,
	[ID_TIPO_FINANCIAMENTO] [int] NULL,
	[VALOR_TOTAL] [decimal](18, 0) NULL,
	[DIA_VENCIMENTO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_FINANCIAMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HISTORICO_PAGAMENTO]    Script Date: 09/07/2019 08:51:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTORICO_PAGAMENTO](
	[ID_PARCELA] [int] IDENTITY(1,1) NOT NULL,
	[ID_FINANCIAMENTO] [int] NULL,
	[NUMERO_PARCELA] [int] NULL,
	[VALOR_PARCELA] [decimal](18, 0) NULL,
	[DATA_VENCIMENTO] [datetime] NULL,
	[DATA_PAGAMENTO] [datetime] NULL,
	[ULTIMA_PARCELA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PARCELA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TIPO_FINANCIAMENTO]    Script Date: 09/07/2019 08:51:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPO_FINANCIAMENTO](
	[ID_TIPO_FINANCIAMENTO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAO] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_FINANCIAMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CLIENTE] ON 

INSERT [dbo].[CLIENTE] ([ID_CLIENTE], [NOME], [ID_ESTADO], [CELULAR]) VALUES (1, N'Luiz Levi Giovanni Caldeira', 25, N'996575233')
INSERT [dbo].[CLIENTE] ([ID_CLIENTE], [NOME], [ID_ESTADO], [CELULAR]) VALUES (2, N'Alícia Cláudia Maitê dos Santos', 19, N'991754652')
INSERT [dbo].[CLIENTE] ([ID_CLIENTE], [NOME], [ID_ESTADO], [CELULAR]) VALUES (3, N'Luiz Yago Barros', 13, N'987508743')
SET IDENTITY_INSERT [dbo].[CLIENTE] OFF
SET IDENTITY_INSERT [dbo].[ESTADO] ON 

INSERT [dbo].[ESTADO] ([ID_ESTADO], [SIGLA], [ESTADO]) VALUES (1, N'AC', N'Acre')
INSERT [dbo].[ESTADO] ([ID_ESTADO], [SIGLA], [ESTADO]) VALUES (2, N'AL', N'Alagoas')
INSERT [dbo].[ESTADO] ([ID_ESTADO], [SIGLA], [ESTADO]) VALUES (3, N'AP', N'Amapá')
SET IDENTITY_INSERT [dbo].[ESTADO] OFF
SET IDENTITY_INSERT [dbo].[FINANCIAMENTO] ON 

INSERT [dbo].[FINANCIAMENTO] ([ID_FINANCIAMENTO], [ID_CLIENTE], [ID_TIPO_FINANCIAMENTO], [VALOR_TOTAL], [DIA_VENCIMENTO]) VALUES (1, 1, 3, CAST(10080 AS Decimal(18, 0)), 10)
INSERT [dbo].[FINANCIAMENTO] ([ID_FINANCIAMENTO], [ID_CLIENTE], [ID_TIPO_FINANCIAMENTO], [VALOR_TOTAL], [DIA_VENCIMENTO]) VALUES (2, 2, 4, CAST(16440 AS Decimal(18, 0)), 25)
INSERT [dbo].[FINANCIAMENTO] ([ID_FINANCIAMENTO], [ID_CLIENTE], [ID_TIPO_FINANCIAMENTO], [VALOR_TOTAL], [DIA_VENCIMENTO]) VALUES (3, 5, 3, CAST(15000 AS Decimal(18, 0)), 5)
SET IDENTITY_INSERT [dbo].[FINANCIAMENTO] OFF
SET IDENTITY_INSERT [dbo].[HISTORICO_PAGAMENTO] ON 

INSERT [dbo].[HISTORICO_PAGAMENTO] ([ID_PARCELA], [ID_FINANCIAMENTO], [NUMERO_PARCELA], [VALOR_PARCELA], [DATA_VENCIMENTO], [DATA_PAGAMENTO], [ULTIMA_PARCELA]) VALUES (1, 1, 1, CAST(280 AS Decimal(18, 0)), CAST(N'2017-01-10 00:00:00.000' AS DateTime), CAST(N'2017-01-09 00:00:00.000' AS DateTime), 36)
INSERT [dbo].[HISTORICO_PAGAMENTO] ([ID_PARCELA], [ID_FINANCIAMENTO], [NUMERO_PARCELA], [VALOR_PARCELA], [DATA_VENCIMENTO], [DATA_PAGAMENTO], [ULTIMA_PARCELA]) VALUES (2, 1, 2, CAST(280 AS Decimal(18, 0)), CAST(N'2017-02-10 00:00:00.000' AS DateTime), CAST(N'2017-02-07 00:00:00.000' AS DateTime), 36)
INSERT [dbo].[HISTORICO_PAGAMENTO] ([ID_PARCELA], [ID_FINANCIAMENTO], [NUMERO_PARCELA], [VALOR_PARCELA], [DATA_VENCIMENTO], [DATA_PAGAMENTO], [ULTIMA_PARCELA]) VALUES (3, 1, 3, CAST(280 AS Decimal(18, 0)), CAST(N'2017-03-10 00:00:00.000' AS DateTime), CAST(N'2017-03-06 00:00:00.000' AS DateTime), 36)
GO
SET IDENTITY_INSERT [dbo].[HISTORICO_PAGAMENTO] OFF
SET IDENTITY_INSERT [dbo].[TIPO_FINANCIAMENTO] ON 

INSERT [dbo].[TIPO_FINANCIAMENTO] ([ID_TIPO_FINANCIAMENTO], [DESCRICAO]) VALUES (1, N'Debêntures')
INSERT [dbo].[TIPO_FINANCIAMENTO] ([ID_TIPO_FINANCIAMENTO], [DESCRICAO]) VALUES (2, N'Finame')
INSERT [dbo].[TIPO_FINANCIAMENTO] ([ID_TIPO_FINANCIAMENTO], [DESCRICAO]) VALUES (3, N'Leasing')
SET IDENTITY_INSERT [dbo].[TIPO_FINANCIAMENTO] OFF
/****** Object:  StoredProcedure [dbo].[CLIENTES_PAGARAM_MAIS_QUE_METADE]    Script Date: 09/07/2019 08:51:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CLIENTES_PAGARAM_MAIS_QUE_METADE]
AS
SELECT DISTINCT
	C.NOME
		FROM CLIENTE C INNER JOIN FINANCIAMENTO F 
			ON C.ID_CLIENTE = F.ID_CLIENTE INNER JOIN HISTORICO_PAGAMENTO HP 
			ON F.ID_FINANCIAMENTO = HP.ID_FINANCIAMENTO
				WHERE HP.DATA_PAGAMENTO IS NULL AND HP.NUMERO_PARCELA > (HP.ULTIMA_PARCELA * 0.6) AND C.ID_ESTADO = 25
				ORDER BY C.NOME 
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_CLIENTES]    Script Date: 09/07/2019 08:51:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTAR_CLIENTES]
AS 
SELECT DISTINCT C.NOME, TF.DESCRICAO, F.VALOR_TOTAL, HP.VALOR_PARCELA, HP.ULTIMA_PARCELA
	FROM CLIENTE C INNER JOIN FINANCIAMENTO F
		ON C.ID_CLIENTE = F.ID_CLIENTE INNER JOIN HISTORICO_PAGAMENTO HP 
		ON F.ID_FINANCIAMENTO = HP.ID_FINANCIAMENTO INNER JOIN TIPO_FINANCIAMENTO TF
		ON TF.ID_TIPO_FINANCIAMENTO = F.ID_TIPO_FINANCIAMENTO
		ORDER BY C.NOME 
GO
/****** Object:  StoredProcedure [dbo].[PARCELAS_ATRASADAS_MAIORES_QUE_10_DIAS]    Script Date: 09/07/2019 08:51:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PARCELAS_ATRASADAS_MAIORES_QUE_10_DIAS]
AS
SELECT C.NOME
	FROM CLIENTE C INNER JOIN FINANCIAMENTO F 
		ON C.ID_CLIENTE = F.ID_CLIENTE INNER JOIN HISTORICO_PAGAMENTO HP 
		ON F.ID_FINANCIAMENTO = HP.ID_FINANCIAMENTO
	WHERE HP.DATA_PAGAMENTO > DATEADD(DAY,10,HP.DATA_VENCIMENTO) AND F.VALOR_TOTAL > 10000 
	GROUP BY C.NOME
	HAVING COUNT (C.NOME) >= 2
GO
/****** Object:  StoredProcedure [dbo].[PARCELAS_ATRASADAS_MAIORES_QUE_5_DIAS]    Script Date: 09/07/2019 08:51:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PARCELAS_ATRASADAS_MAIORES_QUE_5_DIAS]
AS
SELECT DISTINCT
	TOP(4) C.NOME
		FROM CLIENTE C INNER JOIN FINANCIAMENTO F 
			ON C.ID_CLIENTE = F.ID_CLIENTE INNER JOIN HISTORICO_PAGAMENTO HP 
			ON F.ID_FINANCIAMENTO = HP.ID_FINANCIAMENTO
				WHERE DATEADD(DAY, 5, HP.DATA_VENCIMENTO) > SYSDATETIME() AND HP.DATA_PAGAMENTO IS NULL
				ORDER BY C.NOME 
GO
